/* 1 */
plate {
}

/* 2 */
bento {
}

/* 3 */
#fancy {
}

/* 4 */
plate > apple {
}

/* 5 */
#fancy > pickle {
}

/* 6 */
.small {
}

/* 7 */
orange.small {
}

/* 8 */
bento > orange.small {
}

/* 9 */
plate,
bento {
}

/* 10/ */
* {
}

/* 11 */
plate > * {
}

/* 12 */
plate + apple {
}

/* 13 */
bento ~ pickle {
}

/* 14 */
plate > apple {
}

/* 15 */
plate > :first-child {
}

/* 16 */
plate > :not(orange) {
}

/* 17 */
.small:last-child {
}

/* 18 */
:nth-child(3) {
}

/* 19 */
bento:nth-of-type(1) {
}

/* 20 */
apple:first-of-type {
}

/* 21 */
:nth-of-type(2n) {
}

/* 22 */
:nth-of-type(2n + 3) {
}

/* 23 */
plate:nth-of-type(2) > apple {
}

/* 24 */
*:last-of-type:not(pickle) {
}

/* 25 */
bento:first-of-type,
bento:last-of-type {
}

/* 26 */
:not(plate):not(.small) {
}

/* 27 */
[for]:not([for=""]) {
}

/* 28 */
plate[for]:not([for=""]) {
}

/* 29 */
bento[for="Vitaly"] {
}

/* 30 */
[for^="Sa"] {
}

/* 31 */
[for$="to"] {
}

/* 32 */
[for*="bb"] {
}

/* https://flukeout.github.io/ */
